.react-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.react-tabs__tab-list {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}

.react-tabs__tab {
  display: flex;
  color: #909090;
  padding: 0 45px;
  font-size: 22;
  font-weight: 700;
  position: relative;
  height: 55px;
  align-items: center;
  border-left: 1px solid #dfdfdf;
  position: relative;
}

.react-tabs__tab:last-child {
  border-right: 1px solid #dfdfdf;
}

.react-tabs__tab.react-tabs__tab--selected {
  color: rgb(0, 66, 88);
}

.react-tabs__tab.react-tabs__tab--selected::after {
  content: ' ';
  width: 100%;
  height: 3px;
  background-color: rgb(247, 148, 30);
  position: absolute;
  bottom: -3px;
  right: 0px;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  flex: 1;
}